 body {

 background-image: url('bground.jpg');
 background-size: cover;
 

 height: 100vh;

 display: flex;

 justify-content: center; 
 align-items: center;
 color:white;
}

.card {

  margin:10px;
  padding:15px;
  border-radius: 10px;

  position: relative;
  background-color:rgba(225, 225, 225, 0.1) ;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  height: 600px; 
  width: 300px;

}
input {
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:5px;
    margin-bottom:5px;
    border:none;
    border-radius:3px;
}
a {
    color:red;
}
#55c1ff
